h1{
    color: #AE388B;
    text-align: center;
    font-size: 90px;
    font-style: cursive;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #b8860b;
}

div{
    
    background: url("https://t4.ftcdn.net/jpg/04/20/09/31/360_F_420093156_dEpP6CgbzpAsZZNdpFigl7szRqMY861b.jpg");
  width: 1080px;
  height: 1800px;
}

h3{
  font-size: 150px;
  text-align: center;
  color: #b8860b;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #AE388B;
}

img {
  max-width: 12%;
  max-height: auto;
}

h5{
  font-size: 50px;
  text-align: center;
  color: #b8860b;
  font-style: sans-serif;
}

a{
  text-decoration-line: none;
  color: #AE388B;
}

a:hover{
  font-size: 75px;
  color: purple;
  font-style: italic;
}

.classP{
  text-align: center;
  font-size: 75px;
  color: #AE388B;
  font-style: sans-serif;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #b8860b;
}